$primary-color: #333;
$secondary-color: #666;
$max-width: 1200px;

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 10px;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
}

.actionsWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;

  a {
    text-decoration: none;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  transition: ease-in-out 0.1s;
  border-radius: 10px;
  opacity: 0.7;

  span {
    color: black;
  }

  &:hover {
    background-color: rgba(191, 187, 187, 0.24);
    opacity: 1;
  }
}

.Logo {
  height: 35px;
  width: auto;
}

.catalog{
  height: 60px;
  width: 60px;
}